/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */


{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #fff;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
    transition: .15s ease all;
}

.menu_bar {
    padding: .75rem 2rem;
    z-index: 5;
    position: fixed;
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,.6));
    width: 100%;

}
.logo {
    font-size: 2rem;
    display: block;
    float: left;
    margin: 0rem;
    font-family: 'Raleway', sans-serif;
}

.nav_menu {
    list-style: none;
    margin: 0;
    padding: .75rem 0 0 0;
    float: right;
    vertical-align: middle;
    font-weight: 700;
}

.nav_menu li {
    display: inline-block;
    padding: 0rem .5rem;
    border-radius: 3px;
    transition: .15s ease all;
}

.nav_menu a:link, .nav_menu a:visited {
    border-radius: 3px;
    padding: .5rem;
    transition: .15s ease all;
}

.nav_menu a:hover, .nav_menu a:focus, .nav_menu a:active {
    color: rgba(0,0,0,.9);
    background-color: #fff;
    transition: .15s ease background-color;

}

.hero {
    height: 100vh;
    background-image: url(../img/paella_2000@30.jpg);
    background-size: cover;
    position: relative;
    /*margin-top: -6rem;*/
}

.hero a, .feature_article a, .hover_area{
    display: block;
    width: 100%;
    height: 100%;
    transition: .15s ease all;
}

.hero a:hover, .feature_article a:hover, .content_tile:hover .hover_area {
    background-color: rgba(0,0,0,.5);
    transition: .15s ease all;
}

.hero_copy {
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 50%;

}


.hero_copy h2 {
    margin: 0;
    font-size: 15vh;
    font-weight: 800;
    line-height: 1.1em;
}

.feature_article {
    height: 50vh;
    /*background-image: url(../img/tortilla_2000@50.jpg);*/
    background-size: cover;
}

.feature_article:nth-of-type(2) {
    /*background-image: url(../img/paella_2000@30.jpg);*/
}

.feature_article:nth-of-type(3) {
    /*background-image: url(../img/pintxos.jpg);*/
}
.article_copy {
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.article_copy h2 {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 1rem;
}

.feature_article:nth-of-type(2) .article_copy {
    text-align: right;
    left: 40%;
}

.content_gallery {
    padding: 0 1rem 0rem 1rem;
}

.content_tile {
    height: 50vh;
    width: 30%;
    float: left;
    margin: 2rem 1.665%;
    background-size: cover;
    position: relative;
}


.content_tile h3 {
    position: absolute;
    font-size: 2.5em;
    line-height: 1.1em;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    text-align: center;
    /*background-color: #fff;*/
    display: block;
}

footer {
    padding: 1rem;
    background-color: #041c52;
    font-size: .8rem;
}
.footer_tile_1_3 {
    width: 30%;
    float: left;
    margin: 0 1.665% 0 1.665%;
}

.footer_tile_2_3 {
    width: 63.33%;
    float: left;
    margin: 0 1.665% 0 1.665%;
}

.footer_menu {
    list-style: none;
    padding: 0;
    margin: 0
 }

 .footer_menu li {
    display: inline-block;
    margin-right: 1rem;
    padding: .25rem .3rem;
    border-radius: 3px;
    transition: .15s ease all;
 }

 .footer_menu .meta_info {
    color: rgba(225, 225, 225, .5);
    transition: .15s ease all;
 }

 .footer_menu i {
    font-size: 1.5rem;
 }

 .footer_menu a:hover li{
    background-color: #fff;
    color: #041c52;
    transition: .15s ease all;
 }

input {
    color: #041c52;
    display: inline-block;
    margin-right: .5rem;
}
button {
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #041c52;
    transition: .15s ease all;
}

button:hover, button:focus {
    transition: .15s ease all;
    background-color: rgba(225, 225, 225, .7);   
}

.full_article {
    color: #02080d;
}

.article_banner {
    height: 40vh;
    background-size: cover;
 }



.tortilla {
    background-image: url(../img/tortilla_2000@50.jpg);
}

.pintxos {
    background-image: url(../img/pintxos.jpg);
}

.travel {
    background-image: url(../img/travel_banner.jpg);
}

.eat {
    background-image: url(../img/eat_banner_1500.jpg);
}

.drink {
    background-image: url(../img/drink_tile_1000.jpg);
}

.sidra {
    background-image: url(../img/sidra_banner.jpg);   
}

.kalimotxo {
    background-image: url(../img/kalimotxo_banner_1800.jpg);   
}

.paella {
    background-image: url(../img/paella_2000@30.jpg);   
}

 .category_banner {
    height: 20vh;
    background-image: url(http://placehold.it/1000x200);
    background-size: cover;
 }

.article_header {
    
    text-align: left;
    width: 65%;
    margin: auto;
    
}

.category_header {
    text-align: left;
    display: inline-block;
}

.article_header h2, .category_header h2{  
    padding: .8em 0 0 0em;
    font-size: 4em;
    line-height: 1.2em;
    color: #ed1c24;
    margin: 0;
}

.category_header h2 {
    padding-left: 1em;    
}



.content_gallery h2 {
    padding: 0 0 0 1rem;   
    font-size: 4em;
    color: #ed1c24;
    margin: 0;
}

.article_header p, .category_header p {
    color: #ed1c24;
}

.category_header p {
    padding: .8em 0 0 4rem;
}
.article_content {
    width: 65%;
    margin: auto;
}

.article_content p:last-child {
    margin-bottom: 3rem;
}


.img_pullout {
    padding: .75rem 0;
}

.img_pullout img {
    display: block;
    width: 49%;
    float: left;
    margin-bottom: 1.4rem;
}

.img_pullout img:nth-of-type(even) {
    float: right;
}

.title {
    font-weight: 700;
}

.citation {
    font-size: .8rem;
}
.citation a {
    color: rgb(237, 28, 36);
 
}
.citation a:hover, .citation a:focus, .citation a:active {
    border-bottom: 1px solid rgb(237, 28, 36);
}

/* media queries for mobile/narrow */

@media (max-width: 770px) {

    .hero_copy {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    }


    .hero_copy h2 {
        margin: 0;
        font-size: 15vh;
        font-weight: 800;
        line-height: 1.1em;
    }
    .article_copy h2 {
        font-size: 2.5em;
    }

    .article_copy {
    width: 100%;
    position: relative;
    text-align: center;
    left: 0%;

    }

.feature_article:nth-of-type(2) .article_copy {
    text-align: center;
    left: 0%;

    }

    .article_banner {
        height: 20vh;
    }

    .category_header h2, .category_header p {
        padding-left: 1rem;
    }
    .article_header, .article_content {
        width: 80%;
    }

    .article_header h2, .content_gallery h2 {
        font-size: 3em;
        line-height: 1.1em;
    }
    

    p img {
    width: 100%;
    }

    .content_gallery {
        padding: 0;
    }

    .content_tile {
        width: 100%;
        height: 32vh;
        margin: 2rem 0 0 0; 
    }

    .content_tile:last-child {
        margin-bottom: 2rem;
    }

    .footer_tile_2_3, .footer_tile_1_3 {
        width: 100%;
    }

}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
